* {
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}


.sidepanel-remover {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  border: 10px solid pink;
  z-index: -1;
}

.high-z-index {
  z-index: 1000;
}

body {
  font-family: "Catamaran", sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  transition: all .2s ease-in-out;
  &:hover {
    color: #aaa;
  }
}

#panel {
  background-color: #585858;
  margin: 0;
}

#panel-wrapper {
  color: #fff;
  margin: 20px;
  h2 {
    margin-left: 20px;
  }
  ul {
    li {
      margin: 20px 0;
      border-bottom: 1px solid #ccc;
      width: 70%;
    }
  }
}

#wrapper {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  color: rgb(30, 30, 30);
}

#fixed {
  position: fixed;
  border:10px solid pink;
}

#menu-button {
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 5px;
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  -webkit-transition: color .3s;
  transition: color .3s;
  &:hover {
    color: rgba(135, 206, 235, 1);
  }
}

header {
  margin: 0 20px;
  padding: 50px 0px;
  .logo {
    width: 20px;
    margin: 5px 5px -5px 5px;
  }
  span {
    font-weight: 900;
    color: #555;
  }
  h1 {
    font-weight: 900;
    font-size: 2rem;
    color: #555;
  }
  i {
    border: 1px solid black;
    border-radius: 50%;
  }
  p {
    color: #666;
  }
  @media (min-width: 900px){
    h1 {
      font-size: 4rem;
    }
  }
}

.container {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.content-box {
  text-align: center;
  position: relative;
  border-radius: 5px;
  width: 20rem;
  height: 18.5rem;
  margin: 10px;
  color: white;
  font-weight: bold;
  text-align: center;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  .content-title {
    font-size: 1.5rem;
    position: absolute;
    font-weight: lighter;
    top: 30%;
    z-index: 100;
    text-align: center;
    width: 100%;
    pointer-events:none;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    &.content-title.animated {
      top: 15%;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      @media (min-width: 710px){
        top: 30%;
      }
    }
    @media (min-width: 710px){
      top: 37%;
    }
  }
  .blurb {
    width:80%;
    font-weight: 400;
    font-size: 15px;
    position: absolute;
    left: 10%;
    bottom: 0;
    color: white;
    opacity: 0;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    &.blurb.animate {
      bottom: 30%;
      opacity: 1;
      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
    }
    @media (min-width: 710px){

    }
  }
  .content-overlay {
    border-radius: 5px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: url(../icon/cross.svg) center;
    background-position: center center;
    background-repeat:  no-repeat;
    background-size:  cover;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: 0.8;
    &:hover {
      background-color: rgba(255, 99, 71, 0);;
      opacity: 0;
      z-index: 10;
    }
  }
  &:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  @media screen and (max-width: 710px){
    width: 15.5rem;
    height: 13rem;
  }
}

.content-1 {
  background: url("https://pixabay.com/static/uploads/photo/2016/06/10/22/25/ortler-1449018_960_720.jpg");
  background-position: center center;
  background-repeat:  no-repeat;
  background-size:  cover;
  .overlay-1 {
    background-color: #f2849e;
  }
}
.content-2 {
  background: url("https://pixabay.com/static/uploads/photo/2016/06/14/14/22/flamingo-1456678__340.jpg");
  background-position: center center;
  background-repeat:  no-repeat;
  background-size:  cover;
  .overlay-2 {
    background-color: #7ecaf6;
  }
}
.content-3 {
  background: url("https://pixabay.com/static/uploads/photo/2016/06/10/22/25/ortler-1449018_960_720.jpg");
  background-position: center center;
  background-repeat:  no-repeat;
  background-size:  cover;
  .overlay-3 {
    background-color: #7bd0c1;
  }
}
.content-4 {
  background: url("https://pixabay.com/static/uploads/photo/2016/06/14/14/22/flamingo-1456678__340.jpg");
  background-position: center center;
  background-repeat:  no-repeat;
  background-size:  cover;
  .overlay-4 {
    background-color: #c75b9b;
  }
}
.content-5 {
  background: url("https://pixabay.com/static/uploads/photo/2016/06/10/22/25/ortler-1449018_960_720.jpg");
  background-position: center center;
  background-repeat:  no-repeat;
  background-size:  cover;
  .overlay-5 {
    background-color: #ae85ca;
  }
}
.content-6 {
  background: url("https://pixabay.com/static/uploads/photo/2016/06/14/14/22/flamingo-1456678__340.jpg");
  background-position: center center;
  background-repeat:  no-repeat;
  background-size:  cover;
  .overlay-6 {
    background-color: #8499e7;
  }
}

/* Contact*/

#contact {
  border-top: 1px solid #aaa;
  margin: 80px 20px;
  padding-top: 50px;
  width: 100%;
  max-width: 900px;
  h3 {
    margin: 10px;
    color: #666;
  }
  form {
    margin: 10px 10px 10px 0px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    input, textarea {
      font-family: "Catamaran", sans-serif;
      font-size: 1rem;
      padding: 20px 20px 10px 0px;
      border: none;
      border-bottom: 2px solid #999;
      margin: 0 20px;
      -webkit-transition: all .1s ease-in-out;
      transition: all .1s ease-in-out;
    }
    textarea {
      padding-bottom: 0px;
    }
    section {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      input {
        width: 100%;
      }
    }
  }
  button {
    font-size: 1rem;
    color: #333;
    background-color: white;
    border: 2px solid #666;
    border-radius: 4px;
    margin: 10px 20px;
    transition: all .1s ease-in-out;
    padding: 5px 10px;
    &:hover {
      background-color: skyblue;
      border: 2px solid white;
      color: white;
    }
  }
}
input {
  color: #333;
  font-size: 1rem;
}

input:focus {
  box-shadow: inset 0 -2px 0 0 skyblue;
}

.social-networks {
  margin: 80px 0 20px 0;
  padding-bottom: 40px;
  border-bottom: 2px solid #999;
  .buttons {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    a {
      color: #666;
      transition: all .3s ease-in-out;
      &:hover {
        transform: scale(1.2);
        color: skyblue;
      }
      i {
        font-size: 3rem;
      }
    }

  }
}

footer {
  width: 100%;
  text-align: center;
  margin: 0 20px 20px 20px;
  color: #666;
}




// overlay stuff for popout menu.

.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  display: none;
  z-index: 999999;
      -webkit-transition: all 225ms ease;
    -moz-transition: all 225ms ease;
    transition: all 225ms ease;

  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

    -webkit-animation-name: fadeIn;
  animation-name: fadeIn;

  cursor: pointer;
}
.scotch-is-showing .overlay {
  display: block;
  transition: all 225ms ease;
}
