* {
  box-sizing: border-box; }
  *:focus {
    outline: none; }

body {
  font-family: "Catamaran", sans-serif;
  color: #333; }

li {
  list-style: none; }

#panel {
  background-color: #585858; }

#panel-wrapper {
  color: #fff;
  margin: 20px; }
  #panel-wrapper h2 {
    margin-left: 20px; }
  #panel-wrapper ul li {
    margin: 20px 0;
    border-bottom: 1px solid #ccc;
    width: 70%; }

#wrapper {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  color: #1e1e1e; }

#fixed {
  position: fixed;
  border: 10px solid pink; }

#menu-button {
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 5px;
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  transition: color .3s; }
  #menu-button:hover {
    color: skyblue; }

header {
  padding: 50px 0px; }
  header .logo {
    width: 20px;
    margin: 5px 5px -5px 5px; }
  header span {
    font-weight: 900;
    color: #555; }
  header h1 {
    font-weight: 900;
    font-size: 2rem;
    color: #555; }
  header i {
    border: 1px solid black;
    border-radius: 50%; }
  header p {
    color: #666; }
  @media (min-width: 900px) {
    header h1 {
      font-size: 4rem; } }

.container {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around; }

.content-box {
  text-align: center;
  position: relative;
  border-radius: 5px;
  width: 20rem;
  height: 18.5rem;
  margin: 10px;
  color: white;
  font-weight: bold;
  text-align: center;
  transition: all .4s ease-in-out; }
  .content-box .content-title {
    font-size: 1.5rem;
    position: absolute;
    font-weight: lighter;
    top: 30%;
    z-index: 100;
    text-align: center;
    width: 100%;
    pointer-events: none;
    transition: all .3s ease; }
    .content-box .content-title.content-title.animated {
      font-size: 3rem;
      top: -5%;
      transition: all .3s ease-in-out; }
      @media (min-width: 710px) {
        .content-box .content-title.content-title.animated {
          top: 15%; } }
    @media (min-width: 710px) {
      .content-box .content-title {
        top: 36%; } }
  .content-box .blurb {
    width: 80%;
    font-weight: 400;
    font-size: 15px;
    position: absolute;
    left: 10%;
    bottom: 0;
    color: white;
    opacity: 0;
    transition: all .1s ease-in-out; }
    .content-box .blurb.blurb.animate {
      bottom: 25%;
      opacity: 1;
      transition: all .5s ease-in-out; }
  .content-box .content-overlay {
    border-radius: 5px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: url(../icon/cross.svg) center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .3s ease-in-out;
    opacity: 0.8; }
    .content-box .content-overlay:hover {
      background-color: rgba(255, 99, 71, 0);
      opacity: 0;
      z-index: 10; }
  .content-box:hover {
    transform: scale(1.1); }
  @media screen and (max-width: 710px) {
    .content-box {
      width: 15.5rem;
      height: 13rem; } }

.content-1 {
  background: url("https://pixabay.com/static/uploads/photo/2016/06/10/22/25/ortler-1449018_960_720.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  .content-1 .overlay-1 {
    background-color: #f2849e; }

.content-2 {
  background: url("https://pixabay.com/static/uploads/photo/2016/06/14/14/22/flamingo-1456678__340.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  .content-2 .overlay-2 {
    background-color: #7ecaf6; }

.content-3 {
  background: url("https://pixabay.com/static/uploads/photo/2016/06/10/22/25/ortler-1449018_960_720.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  .content-3 .overlay-3 {
    background-color: #7bd0c1; }

.content-4 {
  background: url("https://pixabay.com/static/uploads/photo/2016/06/14/14/22/flamingo-1456678__340.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  .content-4 .overlay-4 {
    background-color: #c75b9b; }

.content-5 {
  background: url("https://pixabay.com/static/uploads/photo/2016/06/10/22/25/ortler-1449018_960_720.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  .content-5 .overlay-5 {
    background-color: #ae85ca; }

.content-6 {
  background: url("https://pixabay.com/static/uploads/photo/2016/06/14/14/22/flamingo-1456678__340.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  .content-6 .overlay-6 {
    background-color: #8499e7; }

#contact {
  border-top: 1px solid #aaa;
  margin: 80px auto;
  padding-top: 50px;
  width: 100%;
  max-width: 900px; }
  #contact h3 {
    margin: 10px;
    color: #666; }
  #contact form {
    margin: 10px 10px 10px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    #contact form input {
      padding: 20px 20px 10px 0px;
      border: none;
      border-bottom: 2px solid #999;
      margin-left: 20px;
      transition: all .1s ease-in-out; }
    #contact form section {
      display: flex; }
      #contact form section input {
        width: 100%; }

input {
  color: #333;
  font-size: 1rem; }

input:focus {
  box-shadow: inset 0 -2px 0 0 skyblue; }

/*# sourceMappingURL=main.css.map */
